body {
    font-family: Helvetica; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах */
    /* Цвет фона веб-страницы */
    background: darkseagreen url(background.jpg) repeat-y;
    color: #333; /* Цвет основного текста */
}
h1 {
    margin-left: 300px;
    color: whitesmoke; /* Цвет заголовка */
    font-size: 48pt; /* Размер шрифта в пунктах */
    font-family: Impact; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста */
}
h2{
    margin-left: 300px;
    color: gray; /* Цвет заголовка */
    font-size: 19pt; /* Размер шрифта в пунктах */
    font-family: Helvetica; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста */
}
p{
    margin-left: 300px;
    color: ghostwhite;
    font-size: 19pt;
    font-family: Helvetica;
}
input{
    width: 200px;
    height: 20px;
    background-color: dimgray;
    color: whitesmoke;
    border: none;
}
button{
    color: whitesmoke;
    background-color: gray;
    border: none;
    height: 40px;
    width: 220px;
}
a {
    color: #008000; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a:visited {
    color: #800080; /* Цвет посещённой ссылки */
}
a:hover {
    color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}
